

body {
    background-color: #86C06C;
    color:#071821;
    font-family: "Press Start 2P", serif;
    font-weight: 200;
    font-style: normal;

}

h1 {
    font-family: "Sixtyfour", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
    
}

button {
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #071821;
    color: #E0F8CF;
    margin: .5rem;
    padding: 1rem 2rem;
    font-size: 2rem;
    border-radius: 10px;
    box-shadow: 10px 10px  #07182187;
}

button:hover {
    background-color:#E0F8CF;
    color: #071821;
    box-shadow: 10px 10px #e0f8cf8f;
}
button:active {
    transform: translateY(5px);
    box-shadow: 5px 5px #e0f8cf8f;
}


.site-header {
    width: 5rem;
    height: 5rem;
    position: absolute;
    left: 0;
    top: 0;
    margin: .5rem;
}


.page-setup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

.title-page {
    display: flex;
}


.title-page h1 {
    font-size: 5rem;
}

/* -----------set properties for start-btn;;; to be deleted if ended up not using------------------ */

/* .title-page .start-btn {
    padding: 1rem 2rem;
    font-size: 2rem;
    border-radius: 10px;
    box-shadow: 10px 10px  #07182187;
}

.start-btn:hover {
    background-color:#E0F8CF;
    color: #071821;
    box-shadow: 10px 10px #e0f8cf8f;
}
.start-btn:active {
    transform: translateY(5px);
    box-shadow: 5px 5px #e0f8cf8f;
} */

/* ----level page styles ------------- */

.level-page {
    display: none;
}

.level-page .level-btn{
    display: flex;
}

/* ----------gameboard styles ----------------- */

.game-page {
    display: none;
    margin-top: 3rem;
}

.scoreboard,
.game-setting {
    display: flex;
    justify-content: space-between;
    width: 75vh;
}

.scoreboard h2,
.game-setting button {
    margin: .25rem;
    padding: .25rem .50rem;
    font-size: 1rem;
    background-color: #071821;
    color: #E0F8CF;
    border-radius: 5px;
}



.gameboard {
    display: grid;
    grid-template-columns: repeat(25, 20px);
    grid-template-rows: repeat(25, 20px);
    border: 5px solid #306850;
    background-color: #071821;
    border-radius: 10px;
}

.space-bar {
    display: none;
    position: absolute;
    top: 50%;
    left: 35%;
    width: 28.125rem;
    text-align: center;
    padding: 0;
    margin: 0;
    color: #E0F8CF;
}

.snake {
    background-color: #306850;
    border-radius: 5px;

}

.food {
    background-color: #E0F8CF;
    border: 2px solid #306850;
    border-radius: 10px;
}


.game-setting button {
    box-shadow: 5px 5px  #07182187;
}

.game-setting button:hover {
    background-color:#E0F8CF;
    color: #071821;
    box-shadow: 5px 5px #e0f8cf8f;
}
.game-setting button:active {
    transform: translateY(2.5px);
    box-shadow: 2.5px 2.5px #e0f8cf8f;
}

.game-over {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(0, -25rem);
    margin: 0 auto;
    width: 25rem;
    background-color: #30685096;
    border: 3px solid #87c06c8f;
    padding: .5rem;
    
}

.game-over h3,
.game-over h4 {
    color: #E0F8CF;
    font-size: 1rem;
}

.game-over div {
    justify-content: center;
    margin: 0;
}



